.background{
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: -0.5em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .background > .animate{
        animation: blinker 0.25s steps(1,end);
    }
        @keyframes blinker{
            50% {opacity: 0;} 
        }
    .background > .crtlines{
        position: fixed;
        pointer-events: none;
        inset: 0;
        background: repeating-linear-gradient(to bottom, transparent 0px, transparent 1px,rgba(0, 0, 0, 0.5) 2px,rgba(0, 0, 0, 0.5) 1px)
    }

    .background > .preloader{
        width: 60%;
        height: 75%;
        display: grid;
        grid-template-rows: 1fr 17.5fr 1fr;
        position: relative;
    }
        .background > .preloader >.top{
            background-color: white;
            animation: upperCut 0.8s cubic-bezier(0.05, 2.5, 0.15, 1) forwards;
        }
            .background >.preloader >.top >.fontsize{
                font-size: 15px;
                margin-bottom: 0%;
                margin-top: 1%;
                margin-left: 1%;
                font-style: italic;
            }
        .background > .preloader >.middle{
            display: grid;
            grid-template-rows: 17.5% 32.5% 50%;
        }

            .background > .preloader > .middle > .indicator{
                padding-top: 2.5%;
                padding-left: 2.5%;
                animation: upperCut 0.8s cubic-bezier(0.05, 2.5, 0.15, 1) forwards;
            }
                .background >.preloader > .middle > .indicator > .instruct >.fontsize{
                    color: white;
                    margin: 0;
                    font-size: 15px;
                }
                .background >.preloader > .middle > .indicator > .progress{
                    margin-top: 0.5%;
                    margin-left: 2%;
                    display: grid;
                    grid-template-columns: 1fr 4fr;
                }
                    .background >.preloader > .middle > .indicator > .progress > .text >.fontsize{
                        color: rgba(255, 255, 255, 0.60);
                        margin: 0;
                        font-size: 15px;
                    }
                    .background >.preloader > .middle > .indicator > .progress > .progressbar >.fontsize{
                        color: rgba(255, 255, 255, 0.60);
                        margin: 0;
                        font-size: 15px;
                    }
                    .background > .preloader >.middle > .indicator > .progress > .progressbar > .space{
                        letter-spacing: 2px;
                    }
                    
            .background > .preloader >.middle > .status{
                animation: upperCut 0.8s cubic-bezier(0.05, 2.5, 0.15, 1) forwards;
            }      
                .background > .preloader >.middle >.status > .sys{
                    display: grid;
                    grid-template-columns: 10% 10% 80%;
                    color: white;
                    font-size: 15px;
                    margin:1% 0;
                }
                    .background > .preloader >.middle > .status > .sys > .title{
                        display: flex;
                        align-items:center;
                        justify-content: center;
                    }
                .background > .preloader > .middle >.status > .tip{
                    display: none;
                    grid-template-columns: 10% 90%;
                    margin: 0;
                    font-size: 15px;
                    margin:1% 0;
                }
                    .background > .preloader >.middle > .status > .tip> .title{
                        display: flex;
                        align-items:center;
                        justify-content: center;
                    }
                .background > .preloader > .middle >.status > .finished{
                    display: none;
                    grid-template-columns: 10% 90%;
                    margin: 0;
                    font-size: 15px;
                    margin:1% 0;
                }
                    .background > .preloader > .middle >.status > .finished > .title{
                        display: flex;
                        align-items:center;
                        justify-content: center;
                    }
            @keyframes upperCut {
                from { transform: translateX(0); }
                to { transform: translateX(-15%); }
            }
            
            .background >.preloader > .middle > .logo{
                position: relative;
                animation: lowerCut 0.8s cubic-bezier(0.05, 2.5, 0.15, 1) forwards;
            }
                .background >.preloader > .middle > .logo > .logocontainer{
                    position: absolute;
                    width: 28%;
                    height: 100%; 
                    bottom: 0;
                }   
                .background >.preloader > .middle > .logo > .logocontainer >.logoimage{
                    width: 100%;
                    height: 100%;
                }  

        .background > .preloader >.bottom{
            display: grid;
            grid-template-columns: 3fr 1fr;
            border-top: 1px solid white;
            animation:lowerCut 0.8s cubic-bezier(0.05, 2.5, 0.15, 1) forwards;
        }
            .background >.preloader > .bottom > .description >.fontsize{
                font-size: 15px;
                margin-bottom: 0%;
                margin-top: 1%;
                margin-left: 1%;
                font-style: italic;
            }
            .background >.preloader > .bottom > .uiname >.fontsize{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                margin-bottom: 0%;
                margin-top: 1%;
                margin-left: 1%;
            }
        @keyframes lowerCut {
            from { transform: translateX(0);}
            to {transform: translateX(15%);}
        }

        .background > .preloader >.top , 
        .background > .preloader > .middle > .indicator , 
        .background > .preloader >.middle > .status,
        .background > .preloader > .middle > .logo, 
        .background > .preloader >.bottom{
            animation-play-state: paused;
        }

        .background > .preloader.cut > .top, 
        .background > .preloader.cut > .middle > .indicator, 
        .background > .preloader.cut > .middle > .status,
        .background > .preloader.cut > .middle > .logo, 
        .background > .preloader.cut > .bottom {
            animation-play-state: running;
        }

        .background::after{
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            width: 0%;
            height: 2px;
            background: red;
            transform: translateY(-50%);
            z-index: 100;
        }

        .background:has(.preloader.cut):after{
            animation: cutEffect 2.2s forwards;
        }

        @keyframes cutEffect {
                0% { width: 0%; height: 2px; background: red; }
                15% { width: 100%; height: 2px; background: red; }
                35% { width: 100%; height: 2px; background: red; }
                40% { width: 100%; height: 2px; background: white; }
                100% { width: 100%; height: 100vh; background: white; }
}           
.border{
    border: 1px solid white;
}
    
h2{
    font-family: 'Roboto Mono', monospace;
    font-size: 21px;
    font-weight: 700;
    color:black;
    line-height: 1;
}

p{
    margin: 0;
    font-family:'Roboto Mono', monospace;
    color: white;
}